# [Revising the Select Query I](https://www.hackerrank.com/challenges/revising-the-select-query/problem?isFullScreen=true)

Query all columns for all American cities in the **CITY** table with populations larger than 100000. The **CountryCode** for America is USA.

The **CITY** table is described as follows:
<img src="https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg">

In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE='USA' AND POPULATION>100000;

# [Revising the Select Query II](https://www.hackerrank.com/challenges/revising-the-select-query-2/problem?isFullScreen=true)

Query the **NAME** field for all American cities in the **CITY** table with populations larger than 120000. The **CountryCode** for America is USA.

The **CITY** table is described as follows:
<img src="https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg">

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE='USA' AND POPULATION>120000;

# [Select All](https://www.hackerrank.com/challenges/select-all-sql/problem?isFullScreen=true)

Query all columns (attributes) for every row in the **CITY** table.

The **CITY** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg'>

In [ ]:
SELECT * FROM CITY;

# [Select By ID](https://www.hackerrank.com/challenges/select-by-id/problem?isFullScreen=true)

Query all columns for a city in **CITY** with the ID 1661.

The **CITY** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg'>

In [ ]:
SELECT * FROM CITY WHERE ID=1661;

# [Japanese Cities' Attributes](https://www.hackerrank.com/challenges/japanese-cities-attributes/problem?isFullScreen=true)

Query all attributes of every Japanese city in the **CITY** table. The **COUNTRYCODE** for Japan is JPN.

The **CITY** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg'>

In [ ]:
SELECT * FROM CITY WHERE COUNTRYCODE='JPN';

# [Japanese Cities' Names](https://www.hackerrank.com/challenges/japanese-cities-name/problem?isFullScreen=true)

Query the names of all the Japanese cities in the **CITY** table. The **COUNTRYCODE** for Japan is JPN.

The **CITY** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg'>

In [ ]:
SELECT NAME FROM CITY WHERE COUNTRYCODE='JPN';

# [Weather Observation Station 1](https://www.hackerrank.com/challenges/weather-observation-station-1/problem?isFullScreen=true)

Query a list of **CITY** and **STATE** from the **STATION** table.

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT CITY, STATE FROM STATION;

# [Weather Observation Station 3](https://www.hackerrank.com/challenges/weather-observation-station-3/problem?isFullScreen=true)

Query a list of **CITY** names from **STATION** for cities that have an even **ID** number. Print the results in any order, but exclude duplicates from the answer.

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
select distinct CITY from STATION where mod(ID,2) = 0;

# [Weather Observation Station 4](https://www.hackerrank.com/challenges/weather-observation-station-4/problem?isFullScreen=true)

Find the difference between the total number of **CITY** entries in the table and the number of distinct **CITY** entries in the table.

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

For example, if there are three records in the table with **CITY** values 'New York', 'New York', 'Bengalaru', there are 2 different city names: 'New York' and 'Bengalaru'. The query returns **1**, because<br>
**total number of records - number of unique city names = 3-2 = 1**.

In [ ]:
SELECT COUNT(CITY)-COUNT(DISTINCT CITY) FROM STATION;

# [Weather Observation Station 5](https://www.hackerrank.com/challenges/weather-observation-station-5/problem?isFullScreen=true)

Query the two cities in **STATION** with the shortest and longest **CITY** names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

**Sample Input**

For example, **CITY** has four entries: **DEF, ABC, PQRS** and **WXY**.

**Sample Output**<br>
ABC 3<br>
PQRS 4

**Explanation**

When ordered alphabetically, the **CITY** names are listed as **ABC, DEF, PQRS,** and **WXY**, with lengths **3, 3, 4,** and **3**. The longest name is **PQRS**, but there are **3** options for shortest named city. Choose **ABC**, because it comes first alphabetically.

**Note**<br>
You can write two separate queries to get the desired output. It need not be a single query.

In [ ]:
SELECT CITY,LENGTH(CITY) FROM STATION ORDER BY Length(CITY), CITY LIMIT 1; 
SELECT CITY,LENGTH(CITY) FROM STATION ORDER BY Length(CITY) DESC, CITY LIMIT 1;

# [Weather Observation Station 6](https://www.hackerrank.com/challenges/weather-observation-station-6/problem?isFullScreen=true)

Query the list of **CITY** names starting with vowels (i.e., a, e, i, o, or u) from **STATION**. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY LIKE 'A%' OR CITY LIKE 'E%' OR CITY LIKE 'I%' OR CITY LIKE 'O%' OR CITY LIKE 'U%';

# [Weather Observation Station 7](https://www.hackerrank.com/challenges/weather-observation-station-7/problem?isFullScreen=true)
Query the list of **CITY** names ending with vowels (a, e, i, o, u) from **STATION**. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE CITY LIKE '%A' OR CITY LIKE '%E' OR CITY LIKE '%I' OR CITY LIKE '%O' OR CITY LIKE '%U';

# [Weather Observation Station 8](https://www.hackerrank.com/challenges/weather-observation-station-8/problem?isFullScreen=true)

Query the list of **CITY** names from **STATION** which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT DISTINCT CITY FROM STATION WHERE
(
    CITY LIKE 'A%' OR CITY LIKE 'E%' OR CITY LIKE 'I%' OR CITY LIKE 'O%' OR CITY LIKE 'U%'
) 
AND
(
    CITY LIKE '%a' OR CITY LIKE '%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u'
);

# [Weather Observation Station 9](https://www.hackerrank.com/challenges/weather-observation-station-9/problem?isFullScreen=true)

Query the list of **CITY** names from **STATION** that do not start with vowels. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE CITY NOT LIKE 'A%' AND CITY NOT LIKE 'E%' AND CITY NOT LIKE 'I%' AND CITY NOT LIKE 'O%' AND CITY NOT LIKE 'U%' 
ORDER BY CITY;

# [Weather Observation Station 10](https://www.hackerrank.com/challenges/weather-observation-station-10/problem?isFullScreen=true)

Query the list of **CITY** names from **STATION** that do not end with vowels. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE CITY NOT LIKE '%a' AND CITY NOT LIKE '%e' AND CITY NOT LIKE '%i' AND CITY NOT LIKE '%o' AND CITY NOT LIKE '%u';

# [Weather Observation Station 11](https://www.hackerrank.com/challenges/weather-observation-station-11/problem?isFullScreen=true)

Query the list of **CITY** names from **STATION** that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE (CITY NOT LIKE 'A%' AND CITY NOT LIKE 'E%' AND CITY NOT LIKE 'I%' AND CITY NOT LIKE 'O%' AND CITY NOT LIKE 'U%') 
OR (CITY NOT LIKE '%a' AND CITY NOT LIKE '%e' AND CITY NOT LIKE '%i' AND CITY NOT LIKE '%o' AND CITY NOT LIKE '%u');

# [Weather Observation Station 12](https://www.hackerrank.com/challenges/weather-observation-station-12/problem?isFullScreen=true)

Query the list of **CITY** names from **STATION** that do not start with vowels and do not end with vowels. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT DISTINCT CITY FROM STATION 
WHERE (CITY NOT LIKE 'A%' AND CITY NOT LIKE 'E%' AND CITY NOT LIKE 'I%' AND CITY NOT LIKE 'O%' AND CITY NOT LIKE 'U%') 
AND (CITY NOT LIKE '%a' AND CITY NOT LIKE '%e' AND CITY NOT LIKE '%i' AND CITY NOT LIKE '%o' AND CITY NOT LIKE '%u');

# [Higher Than 75 Marks](https://www.hackerrank.com/challenges/more-than-75-marks/problem?isFullScreen=true)

Query the Name of any student in **STUDENTS** who scored higher than **75** Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

**Input Format**

The **STUDENTS** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/12896/1443815243-94b941f556-1.png'>
The Name column only contains uppercase (A-Z) and lowercase (a-z) letters.

**Sample Input**
<img src='https://s3.amazonaws.com/hr-challenge-images/12896/1443815209-cf4b260993-2.png'>
**Sample Output**<br>
Ashley<br>
Julia<br>
Belvet

**Explanation**<br>
Only Ashley, Julia, and Belvet have Marks > **75**. If you look at the last three characters of each of their names, there are no duplicates and 'ley' < 'lia' < 'vet'.

In [ ]:
SELECT Name FROM STUDENTS WHERE Marks>75 ORDER BY RIGHT(Name, 3), ID;

# [Employee Names](https://www.hackerrank.com/challenges/name-of-employees/problem?isFullScreen=true)

Write a query that prints a list of employee names (i.e.: the name attribute) from the **Employee** table in alphabetical order.

**Input Format**

The **Employee** table containing employee data for a company is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/19629/1458557872-4396838885-ScreenShot2016-03-21at4.27.13PM.png'>
where employee_id is an employee's ID number, name is their name, months is the total number of months they've been working for the company, and salary is their monthly salary.

**Sample Input**
<img src='https://s3.amazonaws.com/hr-challenge-images/19629/1458558202-9a8721e44b-ScreenShot2016-03-21at4.32.59PM.png'>
**Sample Output**

Angela<br>
Bonnie<br>
Frank<br>
Joe<br>
Kimberly<br>
Lisa<br>
Michael<br>
Patrick<br>
Rose<br>
Todd

In [ ]:
SELECT name FROM Employee ORDER BY name;

# [Employee Salaries](https://www.hackerrank.com/challenges/salary-of-employees/problem?isFullScreen=true)

Write a query that prints a list of employee names (i.e.: the name attribute) for employees in **Employee** having a salary greater than **$2000** per month who have been employees for less than **10** months. Sort your result by ascending employee_id.

**Input Format**

The **Employee** table containing employee data for a company is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/19629/1458557872-4396838885-ScreenShot2016-03-21at4.27.13PM.png'>
where employee_id is an employee's ID number, name is their name, months is the total number of months they've been working for the company, and salary is the their monthly salary.

**Sample Input**
<img src='https://s3.amazonaws.com/hr-challenge-images/19630/1458558612-af3da3ceb7-ScreenShot2016-03-21at4.32.59PM.png'>
**Sample Output**<br>
Angela<br>
Michael<br>
Todd<br>
Joe

**Explanation**

Angela has been an employee for **1** month and earns **$3443** per month.

Michael has been an employee for **6** months and earns **$2017** per month.

Todd has been an employee for **5** months and earns **$3396** per month.

Joe has been an employee for **9** months and earns **$3573** per month.

We order our output by ascending employee_id.

In [ ]:
SELECT name FROM Employee WHERE salary>2000 AND months<10 ORDER BY employee_id;

# [Type of Triangle](https://www.hackerrank.com/challenges/what-type-of-triangle/problem?isFullScreen=true)

Write a query identifying the type of each record in the **TRIANGLES** table using its three side lengths. Output one of the following statements for each record in the table:
* **Equilateral**: It's a triangle with  sides of equal length.
* **Isosceles**: It's a triangle with  sides of equal length.
* **Scalene**: It's a triangle with  sides of differing lengths.
* **Not A Triangle**: The given values of A, B, and C don't form a triangle.

**Input Format**

The **TRIANGLES** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/12887/1443815629-ac2a843fb7-1.png'>
Each row in the table denotes the lengths of each of a triangle's three sides.

**Sample Input**
<img src='https://s3.amazonaws.com/hr-challenge-images/12887/1443815827-cbfc1ca12b-2.png'>
**Sample Output**<br>
Isosceles<br>
Equilateral<br>
Scalene<br>
Not A Triangle

**Explanation**<br>
Values in the tuple **(20,20,23)** form an Isosceles triangle, because **A≡B**.<br>
Values in the tuple **(20,20,20)** form an Equilateral triangle, because **A≡B≡C**.<br>
Values in the tuple **(20,21,22)** form a Scalene triangle, because **A≠B≠C**.<br>
Values in the tuple **(13,14,30)** cannot form a triangle because the combined value of sides **A** and **B** is not larger than that of side **C**.

In [ ]:
SELECT CASE
    WHEN
        (A + B) <= C OR
        (B + C) <= A OR
        (C + A) <= B
        THEN 'Not A Triangle'
    WHEN
        A = B AND B = C AND C =A
        THEN 'Equilateral'
    WHEN
        A = B AND B != C OR
        B = C AND B != A OR
        C = A AND B != A
        THEN 'Isosceles'
    ELSE 'Scalene' END
FROM TRIANGLES;

# [Revising Aggregations - The Count Function](https://www.hackerrank.com/challenges/revising-aggregations-the-count-function/problem?isFullScreen=true)

Query a count of the number of cities in **CITY** having a Population larger than **100,000**.

**Input Format**

The **CITY** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg'>

In [ ]:
SELECT COUNT(NAME) FROM CITY WHERE POPULATION>100000;