# [The PADS](https://www.hackerrank.com/challenges/the-pads/problem?isFullScreen=true)

Generate the following two result sets:

1. Query an alphabetically ordered list of all names in **OCCUPATIONS**, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: `AnActorName(A)`, `ADoctorName(D)`, `AProfessorName(P)`, and `ASingerName(S)`.
2. Query the number of ocurrences of each occupation in **OCCUPATIONS**. Sort the occurrences in ascending order, and output them in the following format:

`There are a total of [occupation_count] [occupation]s.`

where `[occupation_count]` is the number of occurrences of an occupation in **OCCUPATIONS** and `[occupation]` is the lowercase occupation name. If more than one Occupation has the same `[occupation_count]`, they should be ordered alphabetically.

**Note:** There will be at least two entries in the table for each type of occupation.

**Input Format**

The **OCCUPATIONS** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/12889/1443816414-2a465532e7-1.png'>
Occupation will only contain one of the following values: **Doctor, Professor, Singer** or **Actor**.

**Sample Input**

An **OCCUPATIONS** table that contains the following records:
<img src='https://s3.amazonaws.com/hr-challenge-images/12889/1443816608-0b4d01d157-2.png'>
**Sample Output**<br>
`Ashely(P)`<br>
`Christeen(P)`<br>
`Jane(A)`<br>
`Jenny(D)`<br>
`Julia(A)`<br>
`Ketty(P)`<br>
`Maria(A)`<br>
`Meera(S)`<br>
`Priya(S)`<br>
`Samantha(D)`<br>
`There are a total of 2 doctors.`<br>
`There are a total of 2 singers.`<br>
`There are a total of 3 actors.`<br>
`There are a total of 3 professors.`

**Explanation**

The results of the first query are formatted to the problem description's specifications.
The results of the second query are ascendingly ordered first by number of names corresponding to each profession **(2<=2<=3<=3)**, and then alphabetically by profession (**doctor<=singer**, and **actor<=professor**).

In [ ]:
SELECT CONCAT(Name, '(', LEFT(Occupation, 1), ')') FROM OCCUPATIONS ORDER BY Name;

SELECT CONCAT('There are a total of ', COUNT(Occupation), ' ', LOWER(Occupation), 's.')
FROM OCCUPATIONS GROUP BY Occupation ORDER BY COUNT(Occupation), Occupation;

# [Weather Observation Station 18](https://www.hackerrank.com/challenges/weather-observation-station-18/problem?isFullScreen=true)

Consider **P<sub>1</sub>(a,b)** and **P<sub>2</sub>(c,d)** to be two points on a 2D plane.
* **a** happens to equal the minimum value in Northern Latitude (LAT_N in **STATION**).
* **b** happens to equal the minimum value in Western Longitude (LONG_W in **STATION**).
* **c** happens to equal the maximum value in Northern Latitude (LAT_N in **STATION**).
* **d** happens to equal the maximum value in Western Longitude (LONG_W in **STATION**).

Query the [Manhattan Distance](https://xlinux.nist.gov/dads/HTML/manhattanDistance.html) between points **P<sub>1</sub>** and **P<sub>2</sub>** and round it to a scale of **4** decimal places.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT ROUND(
    ABS(
        MIN(LAT_N) - MAX(LAT_N)
    )+
    ABS(
        MIN(LONG_W) - MAX(LONG_W)
    )
    , 4)
FROM STATION;

# [Weather Observation Station 19](https://www.hackerrank.com/challenges/weather-observation-station-19/problem?isFullScreen=true)

Consider **P<sub>1</sub>(a,c)** and **P<sub>2</sub>(b,d)** to be two points on a 2D plane where **(a,b)** are the respective minimum and maximum values of Northern Latitude (LAT_N) and **(c,d)** are the respective minimum and maximum values of Western Longitude (LONG_W) in **STATION**.

Query the [Euclidean Distance](https://en.wikipedia.org/wiki/Euclidean_distance) between points **P<sub>1</sub>** and **P<sub>2</sub>** and format your answer to display **4** decimal digits.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT ROUND(
    SQRT(
        POWER(
            (MAX(LAT_N) - MIN(LAT_N))
            , 2
        ) + 
        POWER(
            (MAX(LONG_W) - MIN(LONG_W))
            , 2
        )
    )
    , 4
)
FROM STATION;