# [The PADS](https://www.hackerrank.com/challenges/the-pads/problem?isFullScreen=true)

Generate the following two result sets:

1. Query an alphabetically ordered list of all names in **OCCUPATIONS**, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: `AnActorName(A)`, `ADoctorName(D)`, `AProfessorName(P)`, and `ASingerName(S)`.
2. Query the number of ocurrences of each occupation in **OCCUPATIONS**. Sort the occurrences in ascending order, and output them in the following format:

`There are a total of [occupation_count] [occupation]s.`

where `[occupation_count]` is the number of occurrences of an occupation in **OCCUPATIONS** and `[occupation]` is the lowercase occupation name. If more than one Occupation has the same `[occupation_count]`, they should be ordered alphabetically.

**Note:** There will be at least two entries in the table for each type of occupation.

**Input Format**

The **OCCUPATIONS** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/12889/1443816414-2a465532e7-1.png'>
Occupation will only contain one of the following values: **Doctor, Professor, Singer** or **Actor**.

**Sample Input**

An **OCCUPATIONS** table that contains the following records:
<img src='https://s3.amazonaws.com/hr-challenge-images/12889/1443816608-0b4d01d157-2.png'>
**Sample Output**<br>
`Ashely(P)`<br>
`Christeen(P)`<br>
`Jane(A)`<br>
`Jenny(D)`<br>
`Julia(A)`<br>
`Ketty(P)`<br>
`Maria(A)`<br>
`Meera(S)`<br>
`Priya(S)`<br>
`Samantha(D)`<br>
`There are a total of 2 doctors.`<br>
`There are a total of 2 singers.`<br>
`There are a total of 3 actors.`<br>
`There are a total of 3 professors.`

**Explanation**

The results of the first query are formatted to the problem description's specifications.
The results of the second query are ascendingly ordered first by number of names corresponding to each profession **(2<=2<=3<=3)**, and then alphabetically by profession (**doctor<=singer**, and **actor<=professor**).

In [ ]:
SELECT CONCAT(Name, '(', LEFT(Occupation, 1), ')') FROM OCCUPATIONS ORDER BY Name;

SELECT CONCAT('There are a total of ', COUNT(Occupation), ' ', LOWER(Occupation), 's.')
FROM OCCUPATIONS GROUP BY Occupation ORDER BY COUNT(Occupation), Occupation;

# [Weather Observation Station 18](https://www.hackerrank.com/challenges/weather-observation-station-18/problem?isFullScreen=true)

Consider **P<sub>1</sub>(a,b)** and **P<sub>2</sub>(c,d)** to be two points on a 2D plane.
* **a** happens to equal the minimum value in Northern Latitude (LAT_N in **STATION**).
* **b** happens to equal the minimum value in Western Longitude (LONG_W in **STATION**).
* **c** happens to equal the maximum value in Northern Latitude (LAT_N in **STATION**).
* **d** happens to equal the maximum value in Western Longitude (LONG_W in **STATION**).

Query the [Manhattan Distance](https://xlinux.nist.gov/dads/HTML/manhattanDistance.html) between points **P<sub>1</sub>** and **P<sub>2</sub>** and round it to a scale of **4** decimal places.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT ROUND(
    ABS(
        MIN(LAT_N) - MAX(LAT_N)
    )+
    ABS(
        MIN(LONG_W) - MAX(LONG_W)
    )
    , 4)
FROM STATION;

# [Weather Observation Station 19](https://www.hackerrank.com/challenges/weather-observation-station-19/problem?isFullScreen=true)

Consider **P<sub>1</sub>(a,c)** and **P<sub>2</sub>(b,d)** to be two points on a 2D plane where **(a,b)** are the respective minimum and maximum values of Northern Latitude (LAT_N) and **(c,d)** are the respective minimum and maximum values of Western Longitude (LONG_W) in **STATION**.

Query the [Euclidean Distance](https://en.wikipedia.org/wiki/Euclidean_distance) between points **P<sub>1</sub>** and **P<sub>2</sub>** and format your answer to display **4** decimal digits.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
SELECT ROUND(
    SQRT(
        POWER(
            (MAX(LAT_N) - MIN(LAT_N))
            , 2
        ) + 
        POWER(
            (MAX(LONG_W) - MIN(LONG_W))
            , 2
        )
    )
    , 4
)
FROM STATION;

# [The Report](https://www.hackerrank.com/challenges/the-report/problem?h_r=profile&isFullScreen=true)

You are given two tables: Students and Grades. Students contains three columns ID, Name and Marks.
<img src='https://s3.amazonaws.com/hr-challenge-images/12891/1443818166-a5c852caa0-1.png'>
Grades contains the following data:
<img src='https://s3.amazonaws.com/hr-challenge-images/12891/1443818137-69b76d805c-2.png'>
Ketty gives Eve a task to generate a report containing three columns: Name, Grade and Mark. Ketty doesn't want the NAMES of those students who received a grade lower than 8. The report must be in descending order by grade -- i.e. higher grades are entered first. If there is more than one student with the same grade (8-10) assigned to them, order those particular students by their name alphabetically. Finally, if the grade is lower than 8, use "NULL" as their name and list them by their grades in descending order. If there is more than one student with the same grade (1-7) assigned to them, order those particular students by their marks in ascending order.

Write a query to help Eve.

**Sample Input**
<img src='https://s3.amazonaws.com/hr-challenge-images/12891/1443818093-b79f376ec1-3.png'>
**Sample Output**

>`Maria 10 99`<br>
`Jane 9 81`<br>
`Julia 9 88`<br>
`Scarlet 8 78`<br>
`NULL 7 63`<br>
`NULL 7 68`

**Note**

Print "NULL"  as the name if the grade is less than 8.

**Explanation**

Consider the following table with the grades assigned to the students:
<img src='https://s3.amazonaws.com/hr-challenge-images/12891/1443818026-0b3af8db30-4.png'>
So, the following students got 8, 9 or 10 grades:
* Maria (grade 10)
* Jane (grade 9)
* Julia (grade 9)
* Scarlet (grade 8)

In [ ]:
SELECT CASE
    WHEN Grades.Grade < 8 THEN NULL
    ELSE Students.Name
END,
Grades.Grade, Students.Marks
FROM Students
JOIN Grades ON Students.Marks BETWEEN Grades.Min_Mark AND Grades.Max_Mark
ORDER BY Grades.Grade DESC, Students.Name ASC;

# [Weather Observation Station 20](https://www.hackerrank.com/challenges/weather-observation-station-20/problem?h_r=profile&isFullScreen=true)

A [median](https://en.wikipedia.org/wiki/Median) is defined as a number separating the higher half of a data set from the lower half. Query the median of the Northern Latitudes (LAT_N) from **STATION** and round your answer to **4** decimal places.

**Input Format**

The **STATION** table is described as follows:
<img src='https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>
where **LAT_N** is the northern latitude and **LONG_W** is the western longitude.

In [ ]:
select round(lat_n,4) from station
order by lat_n asc limit 1 offset 249;

# [Binary Tree Nodes](https://www.hackerrank.com/challenges/binary-search-tree-1/problem?h_r=profile&isFullScreen=true)

You are given a table, BST, containing two columns: N and P, where N represents the value of a node in Binary Tree, and P is the parent of N.
<img src='https://s3.amazonaws.com/hr-challenge-images/12888/1443818507-5095ab9853-1.png'>
Write a query to find the node type of Binary Tree ordered by the value of the node. Output one of the following for each node:
* Root: If node is root node.
* Leaf: If node is leaf node.
* Inner: If node is neither root nor leaf node.

**Sample Input**
<img src='https://s3.amazonaws.com/hr-challenge-images/12888/1443818467-30644673f6-2.png'>

**Sample Output**

`1 Leaf`<br>
`2 Inner`<br>
`3 Leaf`<br>
`5 Root`<br>
`6 Leaf`<br>
`8 Inner`<br>
`9 Leaf`

**Explanation**

The Binary Tree below illustrates the sample:
<img src='https://s3.amazonaws.com/hr-challenge-images/12888/1443773633-f9e6fd314e-simply_sql_bst.png'>

In [ ]:
SELECT N, CASE
    WHEN P IS NULL THEN 'Root'
    WHEN N IN (SELECT P FROM BST) THEN 'Inner'
    ELSE 'Leaf'
    END
FROM BST
ORDER BY N;