# 1. Sets
- Sets can't have duplicate items
- Sets have no meaning for indexing/slicing
- Sets can't have mutable data type
- Sets are mutable (Add, Delete)

In [41]:
S1 = {1,1,2,2,3,3,4,4}
S1

{1, 2, 3, 4}

In [42]:
S2 = {1,2,(3,4)}
S2

{(3, 4), 1, 2}

In [43]:
# Add new item in set
S1.add(8)
S1

{1, 2, 3, 4, 8}

In [44]:
# Delete item in set
#   pop (FIFO)
S1.pop()
S1

{2, 3, 4, 8}

In [45]:
# remove (value)
S1.remove(8)
S1

{2, 3, 4}

In [46]:
# Membership Operator
print(1 in S1)
print(3 in S1)

False
True

In [47]:
# Iteration
for i in S1:
    print(i)

2
3
4

### Set Function
- Union
- Intersection
- Difference
- Subset
- Superset
- Disjoint
- len
- min / max
- sorted

In [48]:
# Union
S1.union(S2)

{(3, 4), 1, 2, 3, 4}

In [49]:
# Intersection
S1.intersection(S2)

{2}

In [50]:
# Difference
print(S1.difference(S2))
print(S2.difference(S1))

{3, 4}
{1, (3, 4)}

In [51]:
# Subset
S1.issubset(S2)

False

In [52]:
# Superset
S1.issuperset(S2)

False

In [53]:
# Disjoint
S1.isdisjoint(S2)

False

In [54]:
# len
print(len(S1))
print(len(S2))

3
3

In [55]:
# max / min
print(max(S1))
print(min(S1))

4
2

In [56]:
# Sorted
sorted(S1)

[2, 3, 4]

# 2. Dictionary
- Create
- Access
- Edit
- Add
- Delete
- Operations
- Functions

In [57]:
# create
D1 = {'Name': 'Pappu', 'Surname': 'Das', 'Age': 50}
D1

{'Name': 'Pappu', 'Surname': 'Das', 'Age': 50}

In [58]:
# empty dictionary
D2 = {}
D2

{}

- Dictionary mutable (Add, Delete, Edit)
- Key's of a dictionary can't have a mutable data type
- No indexing / slicing

In [59]:
D3 = {1: 2, (2,3): "Hello"}
D3

{1: 2, (2, 3): 'Hello'}

In [60]:
# 2D    (used in API/Json)

D4 = {
    "Name": "Rajdip",
    "College": "FIEM",
    "Semester": 8,
    "Marks": {
    "OS": 90,
    "CSA": 70,
    "ML": 89
    }
}

D4

{'Name': 'Rajdip',
 'College': 'FIEM',
 'Semester': 8,
 'Marks': {'OS': 90, 'CSA': 70, 'ML': 89}}

In [61]:
# Access Dictionary
D1

{'Name': 'Pappu', 'Surname': 'Das', 'Age': 50}

In [62]:
print(D1['Name'])
print(D4['Marks']['ML'])

Pappu
89

In [63]:
# Edit
D1['Age'] = 51
D1

{'Name': 'Pappu', 'Surname': 'Das', 'Age': 51}

In [64]:
# Add
D1['Iq'] = 23
D1

{'Name': 'Pappu', 'Surname': 'Das', 'Age': 51, 'Iq': 23}

In [65]:
# Delete
del D2
# D2

In [66]:
del D4['Semester']
D4

{'Name': 'Rajdip', 'College': 'FIEM', 'Marks': {'OS': 90, 'CSA': 70, 'ML': 89}}

In [69]:
# Operations
print('College' in D4)
print('FIEM' in D4)

True
False

In [70]:
for i in D4:
    print(i)    # print keys

Name
College
Marks

In [73]:
for i in D4:
    print(D4[i])    # print values

Rajdip
FIEM
{'OS': 90, 'CSA': 70, 'ML': 89}

In [74]:
# Functions
len(D4)

3

In [75]:
min(D4)

'College'

In [76]:
sorted(D4)

['College', 'Marks', 'Name']

In [77]:
D4.keys()

dict_keys(['Name', 'College', 'Marks'])

In [78]:
D4.values()

dict_values(['Rajdip', 'FIEM', {'OS': 90, 'CSA': 70, 'ML': 89}])

Q. A song is an input. We have to calculate which word has maximum frequency.

In [85]:
lyrics = '''
Oh God, one more Remix?

Ho dil dhadkaaye
(hey hey..)
Arey seeti bajaye
(hey hey..)
Haye dil dhadkaye, seeti bajaye
Beech sadak pe nakhre dikhaye
Saare, ho karke ishare
Ho ladki.. aan aan aan…
Ho ladki.. aan aan aan…

Oh ladki aankh marey
Aankh maare
Oh ladki aankh marey
Aankh maare
Oh ladki aankh marey

(hey hey…)

Jahaan jahaan jaaun
Mere peeche peeche aaye
Gali gali ke aashiq
Dono mera hona chaahe

Tang tang tang… wakao
Tang tang tang…

Haaye jahaan jahaan jaaye
Tere peeche peeche aaye
Hum toh hai deewane tere
Tera hona chaahe

Seeti bajaye
(hey hey hey)
Nakhre dikhaye
(hey hey hey)
Seeti bajaye nakhre dikhaye
Beech sadak mein haye naam mera pukare
Oh kar ke ishare
O ladka aan aan aan…
O ladka aan aan aan…
O ladka.. aankh maare
Oh ladki aankh maare
Aankh maare
Oh ladki aankh maare
Aankh marey

Tushar Kapoor ki awaaz mein
Ee ow aan aan aan…
Ee ow aan aan aan…
Ee ow aan aan aan…

Kumar Sanu ki aawaz mein

Oh ladki aankh maare
Aankh marey
Oh ladki aankh maare
Aankh marey
Oh ladki aankh maare

Aan aan aan…
O ladka.. aan aan aan…
O ladki.. aan aan aan…
O ladka.. aan aan aan…

Aan aan aan…
Aan aan aan…
'''

In [86]:
lyrics = lyrics.split()
lyrics

['Oh',
 'God,',
 'one',
 'more',
 'Remix?',
 'Ho',
 'dil',
 'dhadkaaye',
 '(hey',
 'hey..)',
 'Arey',
 'seeti',
 'bajaye',
 '(hey',
 'hey..)',
 'Haye',
 'dil',
 'dhadkaye,',
 'seeti',
 'bajaye',
 'Beech',
 'sadak',
 'pe',
 'nakhre',
 'dikhaye',
 'Saare,',
 'ho',
 'karke',
 'ishare',
 'Ho',
 'ladki..',
 'aan',
 'aan',
 'aan…',
 'Ho',
 'ladki..',
 'aan',
 'aan',
 'aan…',
 'Oh',
 'ladki',
 'aankh',
 'marey',
 'Aankh',
 'maare',
 'Oh',
 'ladki',
 'aankh',
 'marey',
 'Aankh',
 'maare',
 'Oh',
 'ladki',
 'aankh',
 'marey',
 '(hey',
 'hey…)',
 'Jahaan',
 'jahaan',
 'jaaun',
 'Mere',
 'peeche',
 'peeche',
 'aaye',
 'Gali',
 'gali',
 'ke',
 'aashiq',
 'Dono',
 'mera',
 'hona',
 'chaahe',
 'Tang',
 'tang',
 'tang…',
 'wakao',
 'Tang',
 'tang',
 'tang…',
 'Haaye',
 'jahaan',
 'jahaan',
 'jaaye',
 'Tere',
 'peeche',
 'peeche',
 'aaye',
 'Hum',
 'toh',
 'hai',
 'deewane',
 'tere',
 'Tera',
 'hona',
 'chaahe',
 'Seeti',
 'bajaye',
 '(hey',
 'hey',
 'hey)',
 'Nakhre',
 'dikhaye',
 '(hey',
 'hey',
 'hey)',
 'Seeti',
 'bajaye',
 'nakhre',
 'dikhaye',
 'Beech',
 'sadak',
 'mein',
 'haye',
 'naam',
 'mera',
 'pukare',
 'Oh',
 'kar',
 'ke',
 'ishare',
 'O',
 'ladka',
 'aan',
 'aan',
 'aan…',
 'O',
 'ladka',
 'aan',
 'aan',
 'aan…',
 'O',
 'ladka..',
 'aankh',
 'maare',
 'Oh',
 'ladki',
 'aankh',
 'maare',
 'Aankh',
 'maare',
 'Oh',
 'ladki',
 'aankh',
 'maare',
 'Aankh',
 'marey',
 'Tushar',
 'Kapoor',
 'ki',
 'awaaz',
 'mein',
 'Ee',
 'ow',
 'aan',
 'aan',
 'aan…',
 'Ee',
 'ow',
 'aan',
 'aan',
 'aan…',
 'Ee',
 'ow',
 'aan',
 'aan',
 'aan…',
 'Kumar',
 'Sanu',
 'ki',
 'aawaz',
 'mein',
 'Oh',
 'ladki',
 'aankh',
 'maare',
 'Aankh',
 'marey',
 'Oh',
 'ladki',
 'aankh',
 'maare',
 'Aankh',
 'marey',
 'Oh',
 'ladki',
 'aankh',
 'maare',
 'Aan',
 'aan',
 'aan…',
 'O',
 'ladka..',
 'aan',
 'aan',
 'aan…',
 'O',
 'ladki..',
 'aan',
 'aan',
 'aan…',
 'O',
 'ladka..',
 'aan',
 'aan',
 'aan…',
 'Aan',
 'aan',
 'aan…',
 'Aan',
 'aan',
 'aan…']

In [94]:
f = {}
for i in lyrics:
    if i in f:
        f[i] = f[i] + 1
    else:
        f[i] = 1
print(max(f.values()))
for i in f:
    if f[i] == 23:
        print(i)

23
aan