# 1. Strings
- Create
- Access
- Edit
- Delete
- Operations
- Functions

In [1]:
# Creating
str1 = ''
print(str1)

In [2]:
str2 = 'Kolkata'
print(str2)

Kolkata

For a string we can use 'string', "string", '''string''', """string"""

In [3]:
str3 = '''
This is a
multi-line
string
'''
print(str3)

This is a
multi-line
string

In [4]:
str4 = str("Kolkata")
print(str4)

Kolkata

In [5]:
# Accessing Strings
city = 'Kolkata'
city[2]             # indexing [positive indexing, negative indexing]

'l'

In [6]:
city[3] # positive indexing

'k'

In [7]:
city[-2] # negative indexing

't'

In [8]:
# Slicing
city[0:3]

'Kol'

In [9]:
city[2:4]

'lk'

In [10]:
city[:3]

'Kol'

In [11]:
city[3:]

'kata'

In [12]:
city[0:4:2]

'Kl'

In [13]:
city[4:0:-1]

'aklo'

In [14]:
city[::-1]

'atakloK'

In [16]:
# Editing
city[0] = 'x'    # In python strings are immutable (No editing possible)
city

TypeError: 'str' object does not support item assignment

In [17]:
# Deletion
city

'Kolkata'

In [18]:
del city

In [19]:
city

NameError: name 'city' is not defined

In [20]:
city = 'Mumbai'
# del city[::-1]      # 'str' object does not support item deletion

Python doesn't support string editing and deletion

### Operations 
- Concate
- Multiplication
- Membership
- Iteration

In [21]:
city

'Mumbai'

In [22]:
city1 = 'Pune'

In [23]:
# Concate
# city + city1
city + ' ' + city1

'Mumbai Pune'

In [24]:
# Multiplication
city * 3

'MumbaiMumbaiMumbai'

In [25]:
# Membership
'M' in city

True

In [26]:
'M' not in city

False

In [27]:
for i in city:
    print(i)

M
u
m
b
a
i

### String Functions
- upper / lower
- isdigit / isalpha
- capitalize / title
- join / split
- index
- count
- replace
- format
- len
- min / max
- sorted

In [28]:
# upper / lower
city.upper()

'MUMBAI'

In [29]:
city.lower()

'mumbai'

In [30]:
# isdigit / isalpha
city.isalpha()

True

In [31]:
city.isdigit()

False

In [32]:
# capitalize / title
'raJDip dAs'.capitalize()

'Rajdip das'

In [33]:
'raJDip dAs'.title()

'Rajdip Das'

In [34]:
# join / split
'raJDip dAs'.split()

['raJDip', 'dAs']

In [35]:
'raJDip das'.split('a')

['r', 'JDip d', 's']

In [36]:
"a".join(['r', 'JDip d', 's'])

'raJDip das'

In [37]:
# index
'rajdip das'.index('das')

7

In [38]:
# count
'rajdip das'.count('a')

2

In [39]:
# replace
name = 'rajdip das'
'rajdip das'.replace('das', 'Das')


# This makes a separate string, not changes is actual string

'rajdip Das'

In [40]:
name

'rajdip das'

In [41]:
# format
'Hi {} how are you {}'.format('Rajdip', 'today')

'Hi Rajdip how are you today'

In [42]:
'Hi {1} how are you {0}'.format('Rajdip', 'today')

'Hi today how are you Rajdip'

In [43]:
# len
print(name)
len(name)

rajdip das

10

In [44]:
print(city)
len(city)

Mumbai

6

In [45]:
# min / max
max(city)

'u'

In [46]:
max(name)

's'

In [47]:
min(city)

'M'

In [48]:
min(name)

' '

In [49]:
# sorted
sorted(city)

['M', 'a', 'b', 'i', 'm', 'u']

In [50]:
sorted(city, reverse=True)

['u', 'm', 'i', 'b', 'a', 'M']

Q. Write a Program which is like a title function.

In [51]:
s = input('Enter your string: ')
s = s.split(" ")
new = ""
for i in s:
    new = new + " " + i[0].upper() + i[1:].lower()
print(new)

 My Name Is Rajdip

# Lists
- Create
- Access
- Edit
- Add
- Delete
- Operations
- Functions

In [52]:
# Create List
l0 = []
l1 = []     # Empty List
print(l1)

[]

In [53]:
# Homogeneous List
l1 = [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [54]:
# Heterogeneous List
l2 = [1, 'Hello', 6.5, True]
print(l2)

[1, 'Hello', 6.5, True]

### Difference between Array and List
- List can be Heterogeneous
- Dynamic sizing in lists
- List is slower

In [55]:
l3 = [1,2,3,4,[5,6]]
l3          # 2-D list

[1, 2, 3, 4, [5, 6]]

In [56]:
l4 = [[[1,2],[3,4]],[5,6,7],8,9]
l4      # 3-D list

[[[1, 2], [3, 4]], [5, 6, 7], 8, 9]

In [57]:
l5 = list('Kolkata')
print(l5)

['K', 'o', 'l', 'k', 'a', 't', 'a']

In [58]:
# Accessing items
l1

[1, 2, 3, 4, 5]

In [59]:
# Indexing
#   Positive Indexing
#   Negative Indexing
# Slicing

In [60]:
print(l1[0])    # Positive Indexing
print(l1[-1])   # Negative Indexing

1
5

In [61]:
# Slicing
print(l1[0:4])
print(l1[0:4:2])
print(l1[::-1])

[1, 2, 3, 4]
[1, 3]
[5, 4, 3, 2, 1]

In [62]:
print(l3)   # we need 5 from this list
print(l3[-1][0])

[1, 2, 3, 4, [5, 6]]
5

In [63]:
print(l4)   # we need 3 from this list
print(l4[0][1][0])

[[[1, 2], [3, 4]], [5, 6, 7], 8, 9]
3

In [64]:
print(l4) # we need [5,6,7],8,9 from this list
l4[1:]

[[[1, 2], [3, 4]], [5, 6, 7], 8, 9]

[[5, 6, 7], 8, 9]

In [65]:
# Editing List
l1[-1] = 500
l1              # Lists are mutable

[1, 2, 3, 4, 500]

In [66]:
l1[2:4] = [200,300]
l1

[1, 2, 200, 300, 500]

In [67]:
# Add a new item
#   Append
#   Extend
#   Insert

In [68]:
# Append
l1.append(700)
l1

[1, 2, 200, 300, 500, 700]

In [69]:
l1.append([15,16])
l1

[1, 2, 200, 300, 500, 700, [15, 16]]

In [70]:
# Extend
l1.extend([800,900])
l1

[1, 2, 200, 300, 500, 700, [15, 16], 800, 900]

In [71]:
l1.extend('Goa')
l1

[1, 2, 200, 300, 500, 700, [15, 16], 800, 900, 'G', 'o', 'a']

In [72]:
# Insert
l1.insert(2,'Hello')    # 1st-> position, 2nd-> value
l1

[1, 2, 'Hello', 200, 300, 500, 700, [15, 16], 800, 900, 'G', 'o', 'a']

In [73]:
# Deletion
#   Del
#   remove
#   pop
#   clear

In [74]:
# del
del l0
# l0

In [75]:
del l1[0:3]
l1

[200, 300, 500, 700, [15, 16], 800, 900, 'G', 'o', 'a']

In [76]:
del l1[-3:]
l1

[200, 300, 500, 700, [15, 16], 800, 900]

In [77]:
# remove
l1.remove(700)
l1

[200, 300, 500, [15, 16], 800, 900]

In [78]:
l1.remove([15,16])

In [79]:
# pop
l1.pop()
l1

[200, 300, 500, 800]

In [80]:
print(l3)
l3.pop(3)
l3

[1, 2, 3, 4, [5, 6]]

[1, 2, 3, [5, 6]]

In [81]:
# clear
l1.clear()
l1

[]