## 1. Printing Out

In [2]:
print('Hello World')

Hello World

In [3]:
print(5)

5

In [4]:
print(5.4)

5.4

In [5]:
print(True)

True

In [6]:
print(5>4)

True

In [7]:
print(1, "Hello", 6.7, True)

1 Hello 6.7 True

In [12]:
print(1,2,3,4, sep = '\n')

1
2
3
4

In [15]:
print('Hello', end=' ')
print('World')

Hello World

In [21]:
# This is a Comment

# 2. Data Types
## Primitive Data Types
### i. int
### ii. float
### iii. string
### iv. boolean

# Non Primitive Data Types
### v. complex
### vi. list
### vii. tuples
### viii. sets
### ix. dictionary

In [23]:
# Int
print(4)

4

In [24]:
# Float
print(4.5)

4.5

In [25]:
# String
print('India')

India

In [27]:
# Boolean
print(True)
print(False)

True
False

In [28]:
# Complex
print(3+4j)

(3+4j)

In [29]:
# List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [30]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [31]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [32]:
# Dictionary
print({'Name':'Raj', 'Age': 21})

{'Name': 'Raj', 'Age': 21}

# 3. Detecting Data Types

In [33]:
type(4)

int

In [34]:
type(4+5j)

complex

In [35]:
type((1,2,3,4,5))

tuple

In [36]:
b= [1,2,3,4,5]
type(b)

list

# 4. Taking user Input

In [39]:
input() # Not a good practice

12336

'12336'

In [41]:
input('Enter your age: ')

Enter your age: 21

'21'

# 5. Variables
- Dynamic Typing
- Dynamic Binding

In [44]:
# Dynamic Typing
a = 5
print(a)

5

In [43]:
y = 'Kolkata'
print(y)

Kolkata

In [45]:
# Dynamic Binding
a = 4
print(a)
a = 'Kolkata'
print(a)

4
Kolkata

# 6. Type Conversoin
Converting one data type to another

In [46]:
first = input('Enter 1st number: ')
second = input('Enter 2nd number: ')

Enter 1st number: 45
Enter 2nd number: 100

In [47]:
print(first)
print(second)

45
100

In [48]:
print(first + second)

45100

* Python input function always store data in String format

In [52]:
first = int(input('Enter 1st number: '))    # Explicit Type Conversion
second = int(input('Enter 2nd number: '))   # Explicit Type Conversion

Enter 1st number: 45
Enter 2nd number: 100

In [50]:
print(first)
print(second)

45
100

In [51]:
print(first + second)

145

In [53]:
# Type Conversion
# 1. Explicit Type Conversion
# 2. Implicit Type Conversion

In [55]:
print(4 + 5.6) # Implicit Conversion

9.6

# 7. Keywords and Indetifiers

### Keywords
Keywords are reserved words by the compiler/interpreter. There are total 32 keywords.
<img src='https://www.tutorialstonight.com/assets/python/python-keywords.png'>

### Identifiers
Names given by the programmer in a program (variable name, function name, class name)
1. Identifiers can not start with a digit
2. You can only use '_' as spacial chars
3. Identifiers != Keywords

# 8. Literals
Literals values assigned to a variable

In [56]:
a = 2 # 2 is the Literal

In [59]:
a = 0b1110
print(a)

14

In [66]:
a = 0xff
print(a)

255

In [68]:
a = 1.2e3 # 1.2 * 10^3
print(a)

1200.0

In [70]:
a = 1.2e-3 # 1.2 * 10^-3
print(a)

0.0012

In [72]:
x = None # Null or Void
print(x)

None

In [73]:
x = True + 4
print(x)
x = False + 4
print(x)

5
4

# 9. Operators
- Arithmetic
- Comparison
- Logical
- Bitwise
- Assignment
- Membership

In [77]:
# Arithmetic Operator
print(2+3)
print(3-2)
print(2*3)
print(5/2)
print(5//2)
print(5%2)
print(4**2)

5
1
6
2.5
2
1
16

In [78]:
# Comparison / Relational Operator
print(3>2)
print(3<2)
print(3>=2)
print(3<=2)
print(3==2)
print(3!=2)

True
False
True
False
False
True

In [79]:
# Logical Operator
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [91]:
# Bitwise Operator
print(4 | 3) # Bitwise OR

print(4 & 3) # Bitwise AND

print(5 ^ 4) # Bitwise XOR

print(6 >> 2) # Bitwise Right Shift

print(5 << 1) # Bitwise Left Shift

print(~2) # Bitwise Not

7
0
1
1
10
-3

In [93]:
# Assignment Operator
a = 2
a = a+2
a += 2
print(a)

a**=2
print(a)

6
36

In [95]:
# Membership Operator
'K' in 'Kolkata'

True

In [96]:
'x' in 'Kolkata'

False

In [97]:
1 in [1,2,3,4,5]

True

In [98]:
1 not in [1,2,3,4,5]

False