# 1. List Operation
# 2. List Function

## 1. List Operations
- Concatenate
- Multiply
- Membership
- Loops

In [2]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

In [5]:
# concatenate
L1 + L2

[1, 2, 3, 4, 5, 1, 2, 3, 4, [5, 6]]

In [6]:
# multiply
L2 * 3

[1, 2, 3, 4, [5, 6], 1, 2, 3, 4, [5, 6], 1, 2, 3, 4, [5, 6]]

In [10]:
# membership
print(5 in L2)
print(5 in L2[-1])

False
True

In [11]:
# loops
for i in L2:
    print(i)

1
2
3
4
[5, 6]

## 2. List Function
- len
- min / max
- sum
- sorted
- count
- index
- sort

In [12]:
# len
len(L2)

5

In [18]:
# min / max
print(min(L1))
print(max(L1))

1
5

In [20]:
# sum
sum(L1)

15

In [23]:
# sorted
sorted(L1, reverse=True)

[5, 4, 3, 2, 1]

In [25]:
# count
L1.count(L1)    # Count duplicate elements

0

In [27]:
# index
L1.index(4)     # element position

3

In [28]:
# sort
L3 = [23, 13, 11, 67, 10]
L3.sort()
L3

[10, 11, 13, 23, 67]

Q. Make a program for calculate intersection of two list.<br>
    ip1 = [2,5,1,7,8]<br>
    ip2 = [0,1,2,3,4]<br>
    op = [1,2]

In [36]:
ip1 = [2, 5, 1, 7, 8]
ip2 = [0, 1, 2, 3, 4]
arr = []
for i in ip1:
    if i in ip2:
        arr.append(i)
arr.sort()
print(arr)

[1, 2]

# 3. Tuples
- Creating
- Access
- Edit
- Add
- Delete
- Operation
- Function

In [1]:
# create
T1 = ()
T1

()

In [3]:
# Single item tuple
T2 = (2,)
print(type(T2))
print(T2)

<class 'tuple'>
(2,)

In [4]:
# Homogeneous Tuple
T3 = (1,2,3,4,5,65)
T3

(1, 2, 3, 4, 5, 65)

In [5]:
# Heterogeneous Tuple
T4 = (1, 'Hello', 5+6j, True)
T4

(1, 'Hello', (5+6j), True)

In [6]:
# 2D Tuple
T5 = (1,2,3,4,(5,6))
T5

(1, 2, 3, 4, (5, 6))

In [8]:
# tuple
T6 = tuple('Goa')
T6

('G', 'o', 'a')

In [16]:
# Access Item
print(T3)   # print 3, print 65
print(T3[2])
print(T3[-1])

# reverse tuple
print(T3[::-1])

print(T5)   # Access 6
print(T5[-1][-1])

(1, 2, 3, 4, 5, 65)
3
65
(65, 5, 4, 3, 2, 1)
(1, 2, 3, 4, (5, 6))
6

In [18]:
# Edit
# T3[-1] = 6

- Tuples are immutable just like Strings. <br>
- Lists are mutable. <br>
- In Tuple Edit, item Add, item Delete are not possible. <br>
- In Tuple complete deletion is possible.

In [20]:
# delete
print(T1)
del T1      # complete deletion

()

Q. Why do tuple exist?
- Tuple is a read only datatype. This maintain Data Security.

In [22]:
# Operation

# concatenate
print(T3)
print(T3 + T3)

(1, 2, 3, 4, 5, 65)
(1, 2, 3, 4, 5, 65, 1, 2, 3, 4, 5, 65)

In [23]:
# multiplication
T3 * 3

(1, 2, 3, 4, 5, 65, 1, 2, 3, 4, 5, 65, 1, 2, 3, 4, 5, 65)

In [25]:
# Membership

1 in T3

True

In [26]:
# Iteration
for i in T3:
    print(i)

1
2
3
4
5
65

In [29]:
# Function

# len
len(T3)

6

In [30]:
# min / max
print(min(T3))
print(max(T3))

1
65

In [31]:
# sum
sum(T3)

80

In [32]:
# sorted
sorted(T3)

[1, 2, 3, 4, 5, 65]

In [33]:
# index
T3.index(3)

2

In [34]:
# count
T3.count(3)

1